@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: url("https://img.freepik.com/premium-photo/open-empty-blank-notebook-organizer-planning-work-table-with-devices_203461-217.jpg") no-repeat;
	background-size: cover;
  	background-position: center;
  	background-attachment: fixed;
  	margin: 0;
}

.main-container {
	background: rgba(192, 188, 188, 0.4);
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

.addTask{
	width: 100%;
	display: flex;
	padding-left: 530px;
	padding-top: 60px;
}
.addTask > input[type="text"]{
	width: 50%;
	color: #333;
	border:none;
	border-bottom: 2px solid #666;
	background: none;
	padding: 10px;
	font-size: 22px;
	outline: none;
}
.addTask button{
	margin: 0 10px;
	background: #0a0a0a;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
.notCompleted, .Completed{
	margin: 5px 0;
	padding: 20px;
}

.completed {
	text-decoration: line-through;
	background-color: #00ff62; 
  }
  
  .completed ol.Completed {
	display: block; 
  }

h3{
	font-family: "Poppins", sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
}
ol{
	list-style: none;
	counter-reset: my-counter;
}
ol li{
	width: 100%;
	padding: 18px;
	margin: 5px 0;
	background: #e96969bb;
	font-size: 22px;
	counter-increment: my-counter;
}
ol.Completed li{
	background: #27d369;
}
ol li::before{
	content: counter(my-counter);
	background: #231381;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: inline-block;
	line-height: 2rem;
	text-align: center;
	color: #fff;
	margin-right: 0.5rem;
}
li button{
	float: right;
	padding: 5px;
	font-size: 28px;
	line-height: 28px;
	margin-right: 15px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin: 10px;
  }
  
  .box {
	background-color: rgba(49, 50, 51, 0.2);
	border-radius: 10px;
	padding: 20px;
	backdrop-filter: blur(10px);
  }
  
  .task-container, .completed-container {
	width: 48%; 
  }
  
  .addTask {
	clear: both;
  }

  footer {
	background-color: #420d82;
	color: #fff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
  }